@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  flex-wrap: nowrap;
  position: relative;
  width: 1440px;
  margin: 0 auto;
  background: #000000;
  border: 2px solid #ced4da;
  overflow: hidden;
  border-radius: 8px;
}
/* Responsive grid layout */
@media (min-width: 768px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}
.wrapper {
  flex-shrink: 0;
  position: relative;
  width: 1440px;
  height: 2749px;
  background: #000000;
  overflow: hidden;
}
.box {
  position: relative;
  width: 1440px;
  height: 2748.672px;
  margin: 0 0 0 0;
  background: #000000;
  z-index: 1;
  overflow: visible auto;
}
.box-2 {
  position: relative;
  width: 1280px;
  height: 2748.672px;
  margin: 0 0 0 80px;
  background: rgba(0, 0, 0, 0);
  z-index: 2;
  overflow: visible auto;
}
.wrapper-2 {
  position: relative;
  width: 1248px;
  height: 634.672px;
  margin: 80px 0 0 16px;
  background: rgba(0, 0, 0, 0);
  z-index: 3;
}
.group {
  position: absolute;
  width: 1248px;
  height: 634.672px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 4;
}
.img {
  position: absolute;
  width: 506px;
  height: 506px;
  top: 64px;
  left: 725px;
  background: url(../assets/images/f074ffaf7d4eea13d0914f5aab52a3cc68fc1493.png)
    no-repeat center;
  background-size: cover;
  z-index: 11;
}
.box-3 {
  position: absolute;
  width: 672px;
  height: 297.672px;
  top: 195.328px;
  left: 16px;
  z-index: 10;
}
.wrapper-3 {
  position: relative;
  width: 672px;
  height: 244px;
  margin: 0 0 0 0;
  font-size: 0px;
  background: rgba(0, 0, 0, 0);
  z-index: 5;
  overflow: visible auto;
}
.text {
  display: block;
  position: relative;
  height: 72px;
  margin: -2px 0 0 0;
  color: #f3f4f6;
  font-family: Inter, var(--default-font-family);
  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -2px;
  z-index: 6;
}
.wrapper-4 {
  position: relative;
  width: 672px;
  height: 48px;
  margin: 126px 0 0 0;
  background: rgba(0, 0, 0, 0);
  z-index: 7;
  overflow: visible auto;
}
.box-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: relative;
  width: 150px;
  height: 48px;
  margin: -0.33px 0 0 0;
  padding: 8px 12px 8px 12px;
  background: #0938bf;
  z-index: 8;
  border-radius: 10px;
}
.text-2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 77px;
  height: 51px;
  color: #111827;
  font-family: Gilroy-Black, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: center;
  z-index: 9;
}
.text-3 {
  display: block;
  position: relative;
  height: 24px;
  margin: 29.672px 0 0 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
}
.group-2 {
  position: relative;
  width: 1248px;
  height: 256px;
  margin: 32px 0 0 16px;
  background: rgba(0, 0, 0, 0);
  z-index: 12;
}
.group-3 {
  position: absolute;
  width: 1248px;
  height: 256px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 13;
}
.wrapper-5 {
  position: relative;
  width: 1024px;
  height: 128px;
  margin: 64px 0 0 24px;
  font-size: 0px;
  background: rgba(0, 0, 0, 0);
  z-index: 14;
  overflow: visible auto;
}
.text-4 {
  display: block;
  position: relative;
  height: 44px;
  margin: -2px 0 0 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -1.4px;
  z-index: 15;
}
.text-5 {
  display: block;
  position: relative;
  height: 21px;
  margin: 17px 0 0 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  z-index: 16;
}
.group-4 {
  position: relative;
  width: 125.938px;
  height: 28px;
  margin: 20px 0 0 0;
  background: rgba(0, 0, 0, 0);
  z-index: 17;
}
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 2px;
  left: 101.938px;
  z-index: 19;
}
.group-5 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: rgba(0, 0, 0, 0);
  z-index: 20;
  overflow: hidden;
}
.img-2 {
  position: relative;
  width: 7.199px;
  height: 11.985px;
  margin: 6.015px 0 0 8.4px;
  background: url(../assets/images/14f16453-fcbc-4806-9516-c8274009a6a8.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 21;
}
.text-6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 21px;
  top: 3px;
  left: 0;
  color: #2563eb;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 18;
}
.box-5 {
  position: relative;
  width: 1248px;
  height: 476px;
  margin: 32px 0 0 16px;
  background: rgba(0, 0, 0, 0);
  z-index: 22;
}
.section-2 {
  position: absolute;
  width: 1248px;
  height: 476px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 23;
}
.box-6 {
  position: relative;
  width: 768px;
  height: 112px;
  margin: 64px 0 0 24px;
  font-size: 0px;
  background: rgba(0, 0, 0, 0);
  z-index: 24;
  overflow: visible auto;
}
.text-7 {
  display: block;
  position: relative;
  height: 44px;
  margin: -2px 0 0 0;
  color: #f9fafb;
  font-family: Inter, var(--default-font-family);
  font-size: 36px;
  font-weight: 800;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -1.4px;
  z-index: 25;
}
.text-8 {
  display: block;
  position: relative;
  height: 24px;
  margin: 20px 0 0 0;
  color: #e5e7eb;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 26;
}
.section-3 {
  position: relative;
  width: 1200px;
  height: 172px;
  margin: 64px 0 0 24px;
  background: rgba(0, 0, 0, 0);
  z-index: 27;
}
.box-7 {
  position: absolute;
  width: 368px;
  height: 172px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 28;
}
.section-4 {
  position: relative;
  width: 48px;
  height: 48px;
  margin: 0 0 0 0;
  background: #dbeafe;
  z-index: 29;
  overflow: visible auto;
  border-radius: 159984px;
}
.group-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
  width: 24px;
  height: 24px;
  margin: 12px 0 0 12px;
  z-index: 30;
}
.section-5 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: rgba(0, 0, 0, 0);
  z-index: 31;
  overflow: hidden;
}
.img-3 {
  position: relative;
  width: 19.2px;
  height: 18.015px;
  margin: 3.6px 0 0 2.4px;
  background: url(../assets/images/e2b81729-81e7-4c3d-888b-7fd86e6bf256.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 32;
}
.text-9 {
  display: block;
  position: relative;
  height: 24px;
  margin: 18px 0 0 0;
  color: #f3f4f6;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 33;
}
.text-a {
  display: block;
  position: relative;
  height: 20px;
  margin: 16px 0 0 0;
  color: #e5e7eb;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 34;
}
.group-7 {
  position: absolute;
  width: 368px;
  height: 172px;
  top: 0;
  left: 416px;
  background: rgba(0, 0, 0, 0);
  z-index: 35;
}
.box-8 {
  position: relative;
  width: 48px;
  height: 48px;
  margin: 0 0 0 0;
  background: #dbeafe;
  z-index: 36;
  overflow: visible auto;
  border-radius: 159984px;
}
.group-8 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
  width: 24px;
  height: 24px;
  margin: 12px 0 0 12px;
  z-index: 37;
}
.group-9 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: rgba(0, 0, 0, 0);
  z-index: 38;
  overflow: hidden;
}
.pic {
  position: relative;
  width: 19.2px;
  height: 18.015px;
  margin: 3.6px 0 0 2.4px;
  background: url(../assets/images/3b8f6c2b-a457-4670-9bb3-b3ad44388b42.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 39;
}
.text-b {
  display: block;
  position: relative;
  height: 24px;
  margin: 18px 0 0 0;
  color: #f3f4f6;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 40;
}
.text-c {
  display: block;
  position: relative;
  height: 20px;
  margin: 20px 0 0 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 41;
}
.wrapper-6 {
  position: absolute;
  width: 368px;
  height: 172px;
  top: 0;
  left: 832px;
  background: rgba(0, 0, 0, 0);
  z-index: 42;
}
.section-6 {
  position: relative;
  width: 48px;
  height: 48px;
  margin: 0 0 0 0;
  background: #dbeafe;
  z-index: 43;
  overflow: visible auto;
  border-radius: 159984px;
}
.box-9 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
  width: 24px;
  height: 24px;
  margin: 12px 0 0 12px;
  z-index: 44;
}
.group-a {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: rgba(0, 0, 0, 0);
  z-index: 45;
  overflow: hidden;
}
.img-4 {
  position: relative;
  width: 19.2px;
  height: 18.015px;
  margin: 3.6px 0 0 2.4px;
  background: url(../assets/images/8bcc5a08-551d-47c5-bcd7-ec9396a8ab24.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 46;
}
.text-d {
  display: block;
  position: relative;
  height: 24px;
  margin: 18px 0 0 0;
  color: #f3f4f6;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 47;
}
.text-e {
  display: block;
  position: relative;
  height: 20px;
  margin: 20px 0 0 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 48;
}
.wrapper-7 {
  position: relative;
  width: 1248px;
  height: 774px;
  margin: 32px 0 0 16px;
  background: #000000;
  z-index: 49;
}
.wrapper-8 {
  position: absolute;
  width: 1248px;
  height: 774px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 50;
}
.box-a {
  position: relative;
  width: 768px;
  height: 84px;
  margin: 64px 0 0 240px;
  font-size: 0px;
  background: rgba(0, 0, 0, 0);
  z-index: 51;
  overflow: visible auto;
}
.text-f {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 311px;
  height: 44px;
  margin: -2px 0 0 231.078px;
  color: #f9fafb;
  font-family: Inter, var(--default-font-family);
  font-size: 36px;
  font-weight: 800;
  line-height: 36px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -1.4px;
  z-index: 52;
}
.text-10 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 435px;
  height: 24px;
  margin: 16px 0 0 169.75px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 53;
}
.wrapper-9 {
  position: relative;
  width: 1200px;
  height: 514px;
  margin: 48px 0 0 24px;
  background: rgba(0, 0, 0, 0);
  z-index: 54;
}
.box-b {
  position: absolute;
  width: 373.328px;
  height: 514px;
  top: 0;
  left: 0;
  background: #000000;
  border: 1px solid #f3f4f6;
  z-index: 55;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.section-7 {
  position: relative;
  width: 307.328px;
  height: 32px;
  margin: 33px 0 0 33px;
  background: rgba(0, 0, 0, 0);
  z-index: 56;
}
.text-11 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 196px;
  height: 29px;
  top: 1px;
  left: 58.047px;
  color: #f9fafb;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  white-space: nowrap;
  z-index: 57;
}
.box-c {
  position: relative;
  width: 307.328px;
  height: 112px;
  margin: 17px 0 0 33px;
  font-size: 0px;
  background: rgba(0, 0, 0, 0);
  z-index: 58;
  overflow: visible auto;
}
.text-12 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 258px;
  height: 21px;
  margin: 3px 0 0 27.156px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  z-index: 59;
}
.text-13 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 294px;
  height: 21px;
  margin: 7px 0 0 9.359px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  z-index: 60;
}
.text-14 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 290px;
  height: 21px;
  margin: 7px 0 0 11.484px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  z-index: 61;
}
.text-15 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 74px;
  height: 21px;
  margin: 7px 0 0 118.359px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  z-index: 62;
}
.group-b {
  position: relative;
  width: 307.328px;
  height: 48px;
  margin: 33px 0 0 33px;
  background: rgba(0, 0, 0, 0);
  z-index: 63;
}
.text-16 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 96px;
  height: 59px;
  top: -6px;
  left: 76.469px;
  color: #f9fafb;
  font-family: Inter, var(--default-font-family);
  font-size: 48px;
  font-weight: 800;
  line-height: 48px;
  text-align: center;
  white-space: nowrap;
  z-index: 64;
}
.text-17 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 57px;
  height: 20px;
  top: 25px;
  left: 177.313px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 65;
}
.section-8 {
  position: relative;
  width: 307.328px;
  height: 104px;
  margin: 33px 0 0 33px;
  background: rgba(0, 0, 0, 0);
  z-index: 66;
  overflow: visible auto;
}
.group-c {
  position: relative;
  width: 307.328px;
  height: 24px;
  margin: 0 0 0 0;
  background: rgba(0, 0, 0, 0);
  z-index: 67;
}
.section-9 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 0;
  z-index: 68;
}
.section-a {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0);
  z-index: 69;
  overflow: hidden;
}
.img-5 {
  position: relative;
  width: 13.987px;
  height: 10px;
  margin: 5px 0 0 3.012px;
  background: url(../assets/images/c1b030b7-5905-4a58-9243-164cbfea7fe7.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 70;
}
.text-18 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 2px;
  left: 32px;
  color: #f9fafb;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 71;
}
.box-d {
  position: relative;
  width: 307.328px;
  height: 24px;
  margin: 16px 0 0 0;
  background: rgba(0, 0, 0, 0);
  z-index: 72;
}
.wrapper-a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 0;
  z-index: 73;
}
.group-d {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0);
  z-index: 74;
  overflow: hidden;
}
.img-6 {
  position: relative;
  width: 13.987px;
  height: 10px;
  margin: 5px 0 0 3.012px;
  background: url(../assets/images/fec16615-3e28-432b-8268-e742cc89f450.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 75;
}
.text-19 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 2px;
  left: 32px;
  color: #f9fafb;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 76;
}
.section-b {
  position: relative;
  width: 307.328px;
  height: 24px;
  margin: 16px 0 0 0;
  background: rgba(0, 0, 0, 0);
  z-index: 77;
}
.wrapper-b {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 0;
  z-index: 78;
}
.group-e {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0);
  z-index: 79;
  overflow: hidden;
}
.img-7 {
  position: relative;
  width: 13.987px;
  height: 10px;
  margin: 5px 0 0 3.012px;
  background: url(../assets/images/91abc011-95bc-4caa-b510-4208634aab9b.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 80;
}
.text-1a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 2px;
  left: 32px;
  color: #f9fafb;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 81;
}
.group-f {
  position: relative;
  width: 307.328px;
  height: 40px;
  margin: 33px 0 0 33px;
  background: #2563eb;
  z-index: 82;
  border-radius: 8px;
}
.text-1b {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 78px;
  height: 17px;
  top: 11px;
  left: 116.328px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 16.943px;
  text-align: center;
  white-space: nowrap;
  z-index: 83;
}
.box-e {
  position: absolute;
  width: 373.328px;
  height: 514px;
  top: 0;
  left: 413.328px;
  background: #000000;
  border: 1px solid #f3f4f6;
  z-index: 84;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.group-10 {
  position: relative;
  width: 307.328px;
  height: 32px;
  margin: 33px 0 0 33px;
  background: rgba(0, 0, 0, 0);
  z-index: 85;
}
.text-1c {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 191px;
  height: 29px;
  top: 1px;
  left: 60.109px;
  color: #f9fafb;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  white-space: nowrap;
  z-index: 86;
}
.section-c {
  position: relative;
  width: 307.328px;
  height: 112px;
  margin: 17px 0 0 33px;
  font-size: 0px;
  background: rgba(0, 0, 0, 0);
  z-index: 87;
  overflow: visible auto;
}
.text-1d {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 258px;
  height: 21px;
  margin: 3px 0 0 27.047px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  z-index: 88;
}
.text-1e {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 274px;
  height: 21px;
  margin: 7px 0 0 19.063px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  z-index: 89;
}
.text-1f {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 307px;
  height: 21px;
  margin: 7px 0 0 2.719px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  z-index: 90;
}
.text-20 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 147px;
  height: 21px;
  margin: 7px 0 0 82.031px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  z-index: 91;
}
.wrapper-c {
  position: relative;
  width: 307.328px;
  height: 48px;
  margin: 33px 0 0 33px;
  background: rgba(0, 0, 0, 0);
  z-index: 92;
}
.text-21 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 96px;
  height: 59px;
  top: -6px;
  left: 65.25px;
  color: #f9fafb;
  font-family: Inter, var(--default-font-family);
  font-size: 48px;
  font-weight: 800;
  line-height: 48px;
  text-align: center;
  white-space: nowrap;
  z-index: 93;
}
.text-22 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 80px;
  height: 20px;
  top: 25px;
  left: 165.719px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 94;
}
.box-f {
  position: relative;
  width: 307.328px;
  height: 104px;
  margin: 33px 0 0 33px;
  background: rgba(0, 0, 0, 0);
  z-index: 95;
  overflow: visible auto;
}
.group-11 {
  position: relative;
  width: 307.328px;
  height: 24px;
  margin: 0 0 0 0;
  background: rgba(0, 0, 0, 0);
  z-index: 96;
}
.section-d {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 0;
  z-index: 97;
}
.section-e {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0);
  z-index: 98;
  overflow: hidden;
}
.img-8 {
  position: relative;
  width: 13.987px;
  height: 10px;
  margin: 5px 0 0 3.012px;
  background: url(../assets/images/711bc55a-69ea-4dab-a76a-c491d98dd9ff.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 99;
}
.text-23 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 2px;
  left: 32px;
  color: #f9fafb;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 100;
}
.wrapper-d {
  position: relative;
  width: 307.328px;
  height: 24px;
  margin: 16px 0 0 0;
  background: rgba(0, 0, 0, 0);
  z-index: 101;
}
.section-f {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 0;
  z-index: 102;
}
.section-10 {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0);
  z-index: 103;
  overflow: hidden;
}
.pic-2 {
  position: relative;
  width: 13.987px;
  height: 10px;
  margin: 5px 0 0 3.012px;
  background: url(../assets/images/1a8d53c9-e7ef-498c-b479-6ff9f0570143.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 104;
}
.text-24 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 2px;
  left: 32px;
  color: #f9fafb;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 105;
}
.box-10 {
  position: relative;
  width: 307.328px;
  height: 24px;
  margin: 16px 0 0 0;
  background: rgba(0, 0, 0, 0);
  z-index: 106;
}
.group-12 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 0;
  z-index: 107;
}
.group-13 {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0);
  z-index: 108;
  overflow: hidden;
}
.img-9 {
  position: relative;
  width: 13.987px;
  height: 10px;
  margin: 5px 0 0 3.012px;
  background: url(../assets/images/9a7845b0-9734-45fa-9077-018c60ea1c85.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 109;
}
.text-25 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 2px;
  left: 32px;
  color: #f9fafb;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 110;
}
.box-11 {
  position: relative;
  width: 307.328px;
  height: 40px;
  margin: 33px 0 0 33px;
  background: #2563eb;
  z-index: 111;
  border-radius: 8px;
}
.text-26 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 78px;
  height: 17px;
  top: 11px;
  left: 116.328px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 16.943px;
  text-align: center;
  white-space: nowrap;
  z-index: 112;
}
.box-12 {
  position: absolute;
  width: 373.344px;
  height: 514px;
  top: 0;
  left: 826.656px;
  background: #000000;
  border: 1px solid #f3f4f6;
  z-index: 113;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.group-14 {
  position: relative;
  width: 307.344px;
  height: 32px;
  margin: 33px 0 0 33px;
  background: rgba(0, 0, 0, 0);
  z-index: 114;
}
.text-27 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 165px;
  height: 29px;
  top: 1px;
  left: 73.25px;
  color: #f9fafb;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  white-space: nowrap;
  z-index: 115;
}
.wrapper-e {
  position: relative;
  width: 307.344px;
  height: 112px;
  margin: 17px 0 0 33px;
  font-size: 0px;
  background: rgba(0, 0, 0, 0);
  z-index: 116;
  overflow: visible auto;
}
.text-28 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 279px;
  height: 21px;
  margin: 3px 0 0 17.031px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  z-index: 117;
}
.text-29 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 266px;
  height: 21px;
  margin: 7px 0 0 23.234px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  z-index: 118;
}
.text-2a {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 233px;
  height: 21px;
  margin: 7px 0 0 39.719px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  z-index: 119;
}
.text-2b {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 163px;
  height: 21px;
  margin: 7px 0 0 74.297px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  z-index: 120;
}
.box-13 {
  position: relative;
  width: 307.344px;
  height: 48px;
  margin: 33px 0 0 33px;
  background: rgba(0, 0, 0, 0);
  z-index: 121;
}
.text-2c {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 97px;
  height: 59px;
  top: -6px;
  left: 64.594px;
  color: #f9fafb;
  font-family: Inter, var(--default-font-family);
  font-size: 48px;
  font-weight: 800;
  line-height: 48px;
  text-align: center;
  white-space: nowrap;
  z-index: 122;
}
.text-2d {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 80px;
  height: 20px;
  top: 25px;
  left: 166.375px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 123;
}
.group-15 {
  position: relative;
  width: 307.344px;
  height: 104px;
  margin: 33px 0 0 33px;
  background: rgba(0, 0, 0, 0);
  z-index: 124;
  overflow: visible auto;
}
.wrapper-f {
  position: relative;
  width: 307.344px;
  height: 24px;
  margin: 0 0 0 0;
  background: rgba(0, 0, 0, 0);
  z-index: 125;
}
.box-14 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 0;
  z-index: 126;
}
.section-11 {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0);
  z-index: 127;
  overflow: hidden;
}
.pic-3 {
  position: relative;
  width: 13.987px;
  height: 10px;
  margin: 5px 0 0 3.012px;
  background: url(../assets/images/d27df0f5-1c82-490f-9f92-679c73147cc1.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 128;
}
.text-2e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 2px;
  left: 32px;
  color: #f9fafb;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 129;
}
.wrapper-10 {
  position: relative;
  width: 307.344px;
  height: 24px;
  margin: 16px 0 0 0;
  background: rgba(0, 0, 0, 0);
  z-index: 130;
}
.wrapper-11 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 0;
  z-index: 131;
}
.wrapper-12 {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0);
  z-index: 132;
  overflow: hidden;
}
.img-a {
  position: relative;
  width: 13.987px;
  height: 10px;
  margin: 5px 0 0 3.012px;
  background: url(../assets/images/6c54ed9a-9598-4228-8611-1bd374f1a521.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 133;
}
.text-2f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 2px;
  left: 32px;
  color: #f9fafb;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 134;
}
.group-16 {
  position: relative;
  width: 307.344px;
  height: 24px;
  margin: 16px 0 0 0;
  background: rgba(0, 0, 0, 0);
  z-index: 135;
}
.box-15 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 0;
  z-index: 136;
}
.section-12 {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0);
  z-index: 137;
  overflow: hidden;
}
.pic-4 {
  position: relative;
  width: 13.987px;
  height: 10px;
  margin: 5px 0 0 3.012px;
  background: url(../assets/images/92492e97-8a1f-44f8-b3a2-b54b47fb165a.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 138;
}
.text-30 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 2px;
  left: 32px;
  color: #f9fafb;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 139;
}
.box-16 {
  position: relative;
  width: 307.344px;
  height: 40px;
  margin: 33px 0 0 33px;
  background: #2563eb;
  z-index: 140;
  border-radius: 8px;
}
.text-31 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 78px;
  height: 17px;
  top: 11px;
  left: 116.328px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 16.943px;
  text-align: center;
  white-space: nowrap;
  z-index: 141;
}
.wrapper-13 {
  position: relative;
  width: 1248px;
  height: 384px;
  margin: 32px 0 0 16px;
  background: #000000;
  z-index: 142;
  overflow: visible auto;
}
.section-13 {
  position: relative;
  width: 1248px;
  height: 224px;
  margin: 80px 0 0 0;
  font-size: 0px;
  background: rgba(0, 0, 0, 0);
  z-index: 143;
  overflow: visible auto;
}
.text-32 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 433px;
  height: 44px;
  margin: -2px 0 0 410.828px;
  color: #f9fafb;
  font-family: Inter, var(--default-font-family);
  font-size: 36px;
  font-weight: 800;
  line-height: 36px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: -1.4px;
  z-index: 144;
}
.group-17 {
  position: relative;
  width: 1184px;
  height: 152px;
  margin: 30px 0 0 32px;
  background: rgba(0, 0, 0, 0);
  z-index: 145;
}
.wrapper-14 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 24px;
  position: absolute;
  width: 394.656px;
  height: 152px;
  top: 0;
  left: 0;
  padding: 0 32px 0 32px;
  background: rgba(0, 0, 0, 0);
  z-index: 146;
}
.box-17 {
  flex-shrink: 0;
  position: relative;
  width: 330.656px;
  height: 72px;
  font-size: 0px;
  background: rgba(0, 0, 0, 0);
  z-index: 147;
}
.text-33 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 332px;
  height: 20px;
  margin: 2px 0 0 2.313px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.364px;
  text-align: center;
  white-space: nowrap;
  z-index: 148;
}
.text-34 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 315px;
  height: 20px;
  margin: 4px 0 0 10.578px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.364px;
  text-align: center;
  white-space: nowrap;
  z-index: 149;
}
.text-35 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 245px;
  height: 20px;
  margin: 4px 0 0 45.25px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.364px;
  text-align: center;
  white-space: nowrap;
  z-index: 150;
}
.box-18 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 218.672px;
  background: rgba(0, 0, 0, 0);
  z-index: 151;
}
.section-14 {
  flex-shrink: 0;
  position: relative;
  width: 56px;
  height: 56px;
  background: #f3f4f6;
  z-index: 152;
  overflow: hidden;
  border-radius: 159984px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
}
.img-b {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 0;
  left: 0;
  background: url(../assets/images/ec901f1c0d6bdc3abb3b7f2578c96a444ee001e2.png)
    no-repeat center;
  background-size: cover;
  z-index: 153;
}
.box-19 {
  flex-shrink: 0;
  position: relative;
  width: 150.672px;
  height: 44px;
  background: rgba(0, 0, 0, 0);
  z-index: 154;
}
.group-18 {
  position: relative;
  width: 150.672px;
  height: 24px;
  margin: 0 0 0 0;
  background: rgba(0, 0, 0, 0);
  z-index: 155;
}
.text-36 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 2px;
  left: 0;
  color: #2563eb;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 19.364px;
  text-align: left;
  white-space: nowrap;
  z-index: 156;
}
.text-37 {
  display: block;
  position: relative;
  height: 17px;
  margin: 1px 0 0 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  z-index: 157;
}
.group-19 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 24px;
  position: absolute;
  width: 394.672px;
  height: 152px;
  top: 0;
  left: 394.656px;
  padding: 0 32px 0 32px;
  background: rgba(0, 0, 0, 0);
  z-index: 158;
}
.group-1a {
  flex-shrink: 0;
  position: relative;
  width: 330.672px;
  height: 72px;
  font-size: 0px;
  background: rgba(0, 0, 0, 0);
  z-index: 159;
}
.text-38 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 322px;
  height: 20px;
  margin: 2px 0 0 7.219px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.364px;
  text-align: center;
  white-space: nowrap;
  z-index: 160;
}
.text-39 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 260px;
  height: 20px;
  margin: 4px 0 0 37.984px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.364px;
  text-align: center;
  white-space: nowrap;
  z-index: 161;
}
.text-3a {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 245px;
  height: 20px;
  margin: 4px 0 0 45.203px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.364px;
  text-align: center;
  white-space: nowrap;
  z-index: 162;
}
.box-1a {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 163.734px;
  background: rgba(0, 0, 0, 0);
  z-index: 163;
}
.section-15 {
  flex-shrink: 0;
  position: relative;
  width: 56px;
  height: 56px;
  background: #f3f4f6;
  z-index: 164;
  overflow: hidden;
  border-radius: 159984px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
}
.img-c {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 0;
  left: 0;
  background: url(../assets/images/bec21fc75386a86210d32bec8ca98fcb2380d21e.png)
    no-repeat center;
  background-size: cover;
  z-index: 165;
}
.section-16 {
  flex-shrink: 0;
  position: relative;
  width: 95.734px;
  height: 44px;
  background: rgba(0, 0, 0, 0);
  z-index: 166;
}
.group-1b {
  position: relative;
  width: 95.734px;
  height: 24px;
  margin: 0 0 0 0;
  background: rgba(0, 0, 0, 0);
  z-index: 167;
}
.text-3b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 2px;
  left: 0;
  color: #2563eb;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 19.364px;
  text-align: left;
  white-space: nowrap;
  z-index: 168;
}
.text-3c {
  display: block;
  position: relative;
  height: 17px;
  margin: 1px 0 0 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  z-index: 169;
}
.group-1c {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 24px;
  position: absolute;
  width: 394.656px;
  height: 152px;
  top: 0;
  left: 789.328px;
  padding: 0 32px 0 32px;
  background: rgba(0, 0, 0, 0);
  z-index: 170;
}
.box-1b {
  flex-shrink: 0;
  position: relative;
  width: 330.656px;
  height: 72px;
  font-size: 0px;
  background: rgba(0, 0, 0, 0);
  z-index: 171;
}
.text-3d {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 314px;
  height: 20px;
  margin: 2px 0 0 11.203px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.364px;
  text-align: center;
  white-space: nowrap;
  z-index: 172;
}
.text-3e {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 277px;
  height: 20px;
  margin: 4px 0 0 29.688px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.364px;
  text-align: center;
  white-space: nowrap;
  z-index: 173;
}
.text-3f {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 227px;
  height: 20px;
  margin: 4px 0 0 54.047px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.364px;
  text-align: center;
  white-space: nowrap;
  z-index: 174;
}
.section-17 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 218.578px;
  background: rgba(0, 0, 0, 0);
  z-index: 175;
}
.wrapper-15 {
  flex-shrink: 0;
  position: relative;
  width: 56px;
  height: 56px;
  background: #f3f4f6;
  z-index: 176;
  overflow: hidden;
  border-radius: 159984px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
}
.pic-5 {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 0;
  left: 0;
  background: url(../assets/images/93261e682a4fc24925831eb042e025379dab45ab.png)
    no-repeat center;
  background-size: cover;
  z-index: 177;
}
.group-1d {
  flex-shrink: 0;
  position: relative;
  width: 150.578px;
  height: 44px;
  background: rgba(0, 0, 0, 0);
  z-index: 178;
}
.section-18 {
  position: relative;
  width: 150.578px;
  height: 24px;
  margin: 0 0 0 0;
  background: rgba(0, 0, 0, 0);
  z-index: 179;
}
.text-40 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 2px;
  left: 0;
  color: #2563eb;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 19.364px;
  text-align: left;
  white-space: nowrap;
  z-index: 180;
}
.text-41 {
  display: block;
  position: relative;
  height: 17px;
  margin: 1px 0 0 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  z-index: 181;
}
