.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #161b22;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  /* height: 7vh; */
  height: auto;
  font-size: 1.2rem;
  margin-bottom: 100px;
}

.navbar-logo {
  color: #c9d1d9; 
}

.navbar-logo:hover {
  color: #c9d1d9; 
}

.navbar-links {
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

.navbar-links li {
  display: flex;
  text-align: center;
  align-items: center;
}

.navbar-links li a {
  color: #c9d1d9;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.navbar-links li a:hover {
  background-color: #238636; /* Hover accent */
  color: #ffffff;
}

#logout {
  background-color: #238636;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
}
#logout:hover {
  background-color: navy;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar-logo {
    margin-bottom: 1rem;
  }

  .navbar-links {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }

  .navbar-links li {
    display: block;
  }
}
